.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 500;
    font-size: 0.8em;
    font-family: "Angkor", serif;
    
    .student-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 50%;

        .left-part {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    .bank-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;
    }

    .parents-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;
    }

    .guardian-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;
    }
}

input, select, label {
    margin-left: 5px;
    margin-top: 5px;
}

fieldset {
    margin: 10px 10px;
}

legend {
    font-family: "Roboto flex", sans-serif;
    font-weight: 550;
    font-size: 1em;
}

