.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 500;
    font-size: 0.8em;
    font-family: "Angkor", serif;


    .student-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;

        @media screen and (max-width: 800px) {
            min-width: 85%;
            flex-wrap: wrap-reverse;
        }

        .file-input {
            border: 0.5px dotted #343a40;
            height: 110px;
            width: 80px;
        }


        .left-part {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .school-name {
                @media screen and (max-width: 800px) {
                    display: block;
                }
            }
        }
    }

    .bank-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;

        @media screen and (max-width: 800px) {
            min-width: 85%;
        }
    }

    .parents-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;

        @media screen and (max-width: 800px) {
            min-width: 85%;
        }
    }

    .guardian-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 50%;

        @media screen and (max-width: 800px) {
            min-width: 85%;
        }
    }

    .submit-button {
        color: white;
        background-color: green;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        padding: 10px;
        -webkit-box-shadow: 6px 8px 16px -11px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 8px 16px -11px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 8px 16px -11px rgba(0, 0, 0, 0.75);
    }
}

input,
select,
label {
    margin-left: 5px;
    margin-top: 5px;
}

input,
select {
    border: none;
    border-bottom: 1px solid #6c757d;

    @media screen and (max-width: 800px) {
        max-width: 100px;
    }

    &:focus {
        outline: none;
        border-bottom: 1.5px solid #6c757d;
    }
}

fieldset {
    margin: 10px 10px;
}

legend {
    font-family: "Roboto flex", sans-serif;
    font-weight: 550;
    font-size: 1em;
}

select {
    background-color: none;
}